.footer{
    text-align: center;
    padding: 20px;
    background-color: #cfd2d6;
    font-family: Arial, sans-serif;
    color: #555;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p:first-child{
    font-weight: bold;
}
.footer p:last-child{
    font-size: 12px;
    color: #777;
}   